<%- include('components/header.ejs') %>


<% blog.forEach((blog) =>{ %>
<section  id="create">
    <div class="heading">
        <h3>Update blog</h3>
    </div>
    <div class="inside">
        <form action="/edit/:<%=blog.post_id%>?_method=put" method="post">
            <input type="text" name='title' value='<%=blog.title%>' class="form-control">
            <input type="text" name='image_url' value='<%=blog.image_url%>' class="form-control">
            <textarea name='content' id="" cols="100" rows="10" class="form-control"><%=blog.content%></textarea>
            <div class="btn-container">
                <button class="btn btn-warning">Update</button>
            </div>
        </form>
    </div>


</section>


<% })%>


<%- include('components/footer.ejs') %>