<%- include('components/header.ejs') %>


<% blog.forEach((blog) =>{ %>
<section  id="create">
    <div class="heading">
        <h1>Create new blog</h1>
    </div>
    <div class="inside">
        <form action="/edit/:<%=blog.post_id%>?_method=put" method="post">
            <input type="text" name='title' value='<%=blog.title%>'>
            <input type="text" name='image_url' value='<%=blog.image_url%>'>
            <textarea name='content' id="" cols="100" rows="10"><%=blog.content%></textarea>
            <div class="btn-container">
                <button class="btn">Update</button>
            </div>
        </form>
    </div>


</section>


<% })%>


<%- include('components/footer.ejs') %>