<%- include('components/header.ejs') %>

<% blog.forEach((blog) =>{ %>
    <section id="show">
        <div class="inside">
            <div class="image">
                <img src="<%=blog.image_url%>" alt="image">
            </div>
            <div class="contents">
                <div class="title"><%=blog.title%></div>
                <p class="description"><%=blog.content%></p>
                <div class="show-btn">
                    <a class="delete-btn"href="/delete/<%=blog.post_id%>">Delete</a>
                    <a class="edit-btn" href="/edit/<%=blog.post_id%>">Edit</a>
                </div>
             
            </div>
        </div>
    </section>


    <% })%>


<%- include('components/footer.ejs') %>